* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
}
.navbar {
  position: absolute;
  width: 100%;
  z-index: 2;
  background-image: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.65) 30%,
    rgba(0, 0, 0, 0.15) 70%
  );
}
.carousel-item img {
  width: 100%;
  height: 100vh;
}
.imge {
  max-width: 100%;
  max-height: 280px;
}
.imgee {
  max-height: 280px;
  max-width: 100%;
}
/* responsive css code */
/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* // X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

/* // XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) { ... } */
